/.temp
/build
/dist
/node_modules
.DS_Store

# TODO
/*.dwo

# Legacy top-level files
# These are no longer produced, but we want to avoid commmiting them,
# in case they get left in the top dir around after testing old commits.
/.cache
/*.o
/*.dSYM
/twsearch
/twsearch.wasm
/emsdk

# Rust
/target
# `cargo-run-bin`
/.bin

# Replaced with `bun.lockb`
/package-lock.json
