[package]
name = "twips-rb"
version.workspace = true
license.workspace = true
edition.workspace = true
publish = false

[lib]
crate-type = ["cdylib"]

[dependencies]
magnus = { version = "0.8.2" }
twips = { path = "../../../lib" }
