name: CI

on: [push, pull_request]

jobs:
  cpp:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - run: make
      - run: ./build/bin/twsearch -g samples/main/2x2x2.tws
      - run: make test-cpp-cli

  cpp-windows:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2
      - run: make
      - uses: actions/upload-artifact@v3
        with:
          name: windows-build
          path: build/bin/

  wasm:
    runs-on: ubuntu-latest

    steps:
      - name: Use `node` v19
        uses: actions/setup-node@v3
        with:
          node-version: 19
      - uses: actions/checkout@v2
      - uses: wasmerio/setup-wasmer@v2
        continue-on-error: true
        id: wasmer
      # Fallback workaround for https://github.com/wasmerio/wasmer/issues/4183
      # https://github.com/wasmerio/wasmer-install#install-via-package-manager
      - if: "!cancelled() && steps.wasmer.conclusion == 'failure'"
        run: cargo install wasmer-cli --features singlepass,cranelift # add --features=llvm for LLVM compilation support
      - run: make emsdk
      - run: make build/wasm-test/twsearch-test.wasm
      - run: make build/wasm-single-file/twsearch.mjs
      - run: make test-wasm
      - run: make test-build-js
      - run: make lint-js

  rust:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: Swatinem/rust-cache@v2
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest
      - run: make build-rust
      - run: make lint-rust
      - run: make test-twsearch-cpp-wrapper-cli
      - run: make test-rust
      - run: make test-rust-ffi
      - run: make benchmark-rust
