name: "Install pinned toolchains"
description: "Install pinned toolchains"

runs:
  using: "composite"
  steps:
    # We don't install Rust here because `cargo` is pre-installed and `rust-toolchain.toml` handles the rest.
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0 # needed for tags for `git describe --tags`
    - uses: actions/setup-node@v4
      with:
        node-version: 22.3.0
    - uses: oven-sh/setup-bun@v2
      with:
        bun-version: 1.2.7
    - shell: bash
      # We don't need this for all the jobs, but it's wicked fast to just download the binary and allows us to avoid hacks for the engine version checks.
      run: ./script/install-rv-for-ci.ts
